<a href="https://colab.research.google.com/github/rajfirke/House-price-prediction/blob/main/Pune_House_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dependencies & Imports

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Datasets /Pune_House_Data.csv')

# Pre-Processing

In [ ]:
data.shape

(13320, 9)

In [ ]:
data.info

<bound method DataFrame.info of                   area_type   availability       size  society total_sqft  \
0      Super built-up  Area         19-Dec      2 BHK  Coomee        1056
1                Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600
2            Built-up  Area  Ready To Move      3 BHK      NaN       1440
3      Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521
4      Super built-up  Area  Ready To Move      2 BHK      NaN       1200
...                     ...            ...        ...      ...        ...
13315        Built-up  Area  Ready To Move  5 Bedroom  ArsiaEx       3453
13316  Super built-up  Area  Ready To Move      4 BHK      NaN       3600
13317        Built-up  Area  Ready To Move      2 BHK  Mahla T       1141
13318  Super built-up  Area         18-Jun      4 BHK  SollyCl       4689
13319  Super built-up  Area  Ready To Move      1 BHK      NaN        550

       bath  balcony   price         site_location
0       2.0      1.0   39.07           Alandi Road
1       5.0      3.0  120.00       Ambegaon Budruk
2       2.0      3.0   62.00            Anandnagar
3       3.0      1.0   95.00                 Aundh
4       2.0      1.0   51.00            Aundh Road
...     ...      ...     ...                   ...
13315   4.0      0.0  231.00                Pashan
13316   5.0      NaN  400.00             Paud Road
13317   2.0      1.0   60.00              Pirangut
13318   4.0      1.0  488.00          Prabhat Road
13319   1.0      1.0   17.00  Pune Railway Station

[13320 rows x 9 columns]>

In [ ]:
data.isna().sum()

size             16
total_sqft        0
bath             73
price             0
site_location     1
dtype: int64

In [ ]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [ ]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [ ]:
data['site_location'].value_counts()

Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

In [ ]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [ ]:
data['size'] = data['size'].fillna('2 BHK')
data.isna().sum()

size              0
total_sqft        0
bath             73
price             0
site_location     1
dtype: int64

In [ ]:
data.info

<bound method DataFrame.info of             size total_sqft  bath   price         site_location
0          2 BHK       1056   2.0   39.07           Alandi Road
1      4 Bedroom       2600   5.0  120.00       Ambegaon Budruk
2          3 BHK       1440   2.0   62.00            Anandnagar
3          3 BHK       1521   3.0   95.00                 Aundh
4          2 BHK       1200   2.0   51.00            Aundh Road
...          ...        ...   ...     ...                   ...
13315  5 Bedroom       3453   4.0  231.00                Pashan
13316      4 BHK       3600   5.0  400.00             Paud Road
13317      2 BHK       1141   2.0   60.00              Pirangut
13318      4 BHK       4689   4.0  488.00          Prabhat Road
13319      1 BHK        550   1.0   17.00  Pune Railway Station

[13320 rows x 5 columns]>

In [ ]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [ ]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

2 BHK         5215
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6981
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************
Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64
********************

In [ ]:
data.info

<bound method DataFrame.info of             size total_sqft  bath   price         site_location
0          2 BHK       1056   2.0   39.07           Alandi Road
1      4 Bedroom       2600   5.0  120.00       Ambegaon Budruk
2          3 BHK       1440   2.0   62.00            Anandnagar
3          3 BHK       1521   3.0   95.00                 Aundh
4          2 BHK       1200   2.0   51.00            Aundh Road
...          ...        ...   ...     ...                   ...
13315  5 Bedroom       3453   4.0  231.00                Pashan
13316      4 BHK       3600   5.0  400.00             Paud Road
13317      2 BHK       1141   2.0   60.00              Pirangut
13318      4 BHK       4689   4.0  488.00          Prabhat Road
13319      1 BHK        550   1.0   17.00  Pune Railway Station

[13320 rows x 5 columns]>

In [ ]:
data['bhk']= data['size'].str.split().str.get(0).astype(int)   #extract element from each component at specified position
    # to cast a pandas object to a specified dtype

In [ ]:
data[data.bhk>20].drop

<bound method DataFrame.drop of             size total_sqft  bath  price  site_location  bhk
1718      27 BHK       8000  27.0  230.0  Uruli Devachi   27
4684  43 Bedroom       2400  40.0  660.0  Salunke Vihar   43>

In [ ]:
data[data.bhk>20]

            size total_sqft  bath  price  site_location  bhk
1718      27 BHK       8000  27.0  230.0  Uruli Devachi   27
4684  43 Bedroom       2400  40.0  660.0  Salunke Vihar   43

In [ ]:
data['bhk'].value_counts()

2     5544
3     4857
4     1417
1      656
5      356
6      221
7      100
8       89
9       54
10      14
11       4
27       1
19       1
16       1
43       1
14       1
12       1
13       1
18       1
Name: bhk, dtype: int64

In [ ]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [ ]:
def convertRange(x):

    temp =x.split('-')
    if len(temp) == 2: #if we get two values then
        return (float(temp[0]) + float(temp[1]))/2 # conveting into float and finding mean
    try:
        return float(x) #if we get only one value (not range ) then will return that value
    except:
        return None

    #it will convert data range in single value by taking its mean

In [ ]:
data['total_sqft'] =data['total_sqft'].apply(convertRange)

In [ ]:
data['total_sqft'].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [ ]:
data.head()

        size  total_sqft  bath   price    site_location  bhk
0      2 BHK      1056.0   2.0   39.07      Alandi Road    2
1  4 Bedroom      2600.0   5.0  120.00  Ambegaon Budruk    4
2      3 BHK      1440.0   2.0   62.00       Anandnagar    3
3      3 BHK      1521.0   3.0   95.00            Aundh    3
4      2 BHK      1200.0   2.0   51.00       Aundh Road    2

In [ ]:
data['price_per_sqft'] = data['price']*100000 / data['total_sqft'] #in lakhs

In [ ]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [ ]:

data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [ ]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [ ]:
data = data[((data['total_sqft'])>=300)]

In [ ]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13263.000000  13263.000000  13263.000000  13263.000000    13263.000000
mean    1560.824680      2.687401    112.484801      2.801779     6689.068527
std     1238.214449      1.335737    149.116733      1.290894     4554.250945
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1100.000000      2.000000     50.000000      2.000000     4266.666667
50%     1277.000000      2.000000     72.000000      3.000000     5429.864253
75%     1680.000000      3.000000    120.000000      3.000000     7305.432002
max    52272.000000     40.000000   3600.000000     43.000000   176470.588235

In [ ]:
data.shape

(13263, 7)

In [ ]:
data.price_per_sqft.describe()

count     13263.000000
mean       6689.068527
std        4554.250945
min         267.829813
25%        4266.666667
50%        5429.864253
75%        7305.432002
max      176470.588235
Name: price_per_sqft, dtype: float64

In [ ]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('site_location'):
        m= np.mean(subdf.price_per_sqft)

        st = np.std(subdf.price_per_sqft)

        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df] , ignore_index = True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   4859.000000  4859.000000  4859.000000  4859.000000     4859.000000
mean    1427.374342     2.391850    74.247377     2.518008     5172.343960
std      817.378907     0.894372    46.311379     0.873796      564.195684
min      351.000000     1.000000    16.000000     1.000000     4017.216643
25%     1100.000000     2.000000    55.000000     2.000000     4727.272727
50%     1260.000000     2.000000    65.310000     2.000000     5133.047210
75%     1560.000000     3.000000    82.000000     3.000000     5586.592179
max    30400.000000    16.000000  1824.000000    16.000000     7056.451613

In [ ]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for site_location,site_location_df in df.groupby('site_location'):
        bhk_stats = {}
        for bhk,bhk_df in site_location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk,bhk_df in site_location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
        return df.drop(exclude_indices,axis='index')

In [ ]:
data =bhk_outlier_remover(data)

In [ ]:
data.shape
convert_dict = {'bath': float,
                'bhk': float
                }

data = data.astype(convert_dict)
print(data.dtypes)
data =bhk_outlier_remover(data)

size               object
total_sqft        float64
bath              float64
price             float64
site_location      object
bhk               float64
price_per_sqft    float64
dtype: object

In [ ]:
data.drop(columns = ['size','price_per_sqft'],inplace=True)

In [ ]:
data

      total_sqft  bath  price site_location  bhk
0         1084.0   2.0  50.00   Alandi Road  2.0
1         1040.0   2.0  50.00   Alandi Road  2.0
2         1655.0   3.0  86.06   Alandi Road  3.0
4         1300.0   2.0  57.00   Alandi Road  2.0
5         1012.0   2.0  59.00   Alandi Road  2.0
...          ...   ...    ...           ...  ...
4854      1020.0   2.0  45.75      Yerawada  2.0
4855       984.0   2.0  45.75      Yerawada  2.0
4856      1050.0   2.0  54.00      Yerawada  2.0
4857       970.0   2.0  45.00      Yerawada  2.0
4858      1140.0   2.0  57.00      Yerawada  2.0

[4852 rows x 5 columns]

In [ ]:
data.to_csv("Cleaned_data.csv")

# Model Dependencies

In [ ]:
X=data.drop(columns=['price'])
y=data['price']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2,random_state = 0)

In [ ]:
print(X_train.shape)
print(X_test.shape)

(3881, 4)
(971, 4)

In [ ]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['site_location']),remainder='passthrough')

# Training Model

In [ ]:
scaler = StandardScaler()

In [ ]:
lr = LinearRegression(normalize = True)

In [ ]:
pipe = make_pipeline(column_trans,scaler,lr)

In [ ]:
pipe.fit(X_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [ ]:
y_pred_lr = pipe.predict(X_test)

# Testing Model

In [ ]:
r2_score(y_test,y_pred_lr)

0.9619459018424249

# Applying lasso vs ridge regression

In [ ]:
lasso = Lasso()

In [ ]:
pipe = make_pipeline(column_trans,scaler,lasso)

In [ ]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [ ]:
y_pred_lasso = pipe.predict(X_test)

In [ ]:
r2_score(y_test,y_pred_lasso)

0.9590456906178881

In [ ]:
ridge = Ridge()

In [ ]:
pipe = make_pipeline(column_trans,scaler,ridge)

In [ ]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [ ]:
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

0.9619601496172283

In [ ]:
print("No Regularization: ", r2_score(y_test,y_pred_lr))
print("Lasso: ", r2_score(y_test, y_pred_lasso))
print("Ridge: ", r2_score(y_test, y_pred_ridge))

No Regularization:  0.9619459018424249
Lasso:  0.9590456906178881
Ridge:  0.9619601496172283

# Pickle File

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))